.sidebar{
    height: 100vh;

}
/* CSS to change the color of the sidebar */
.custom-bg {
    background-color: hsl(0, 0%, 98%); /* Change the background color as per your preference */
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: orange ;  /* Change the background color of the active link to orange */
    color: black ; /* Change the text color of the active link */
    border-bottom: 2px solid #8E3A2B; /* Add a bottom border when the link is active */
    font-weight: bold;


}


.fs-4{
    color: black;
    font-weight: bolder;
}
.nav-link{
    color: black;
}
.nav-link:hover, .btn-primary:hover {
    background-color:#FFDAB9;
    color: white;
}
body {
    margin: 0;
    padding: 0;
}

.btn-primary.active, .btn-primary:active{
    background-color: orange !important ;
    border-color: orange !important;
    font-weight: bold;
    color:black !important;
    font-weight: bold;;
}

.btn-primary{
    background-color: #D3D3D3;
    border-color: #D3D3D3;
}


.btn-link {
    text-decoration: none !important; 
}

