.sidebar{
    height: 100vh;

}
/* CSS to change the color of the sidebar */
.custom-bg {
    background-color: hsl(0, 0%, 98%); /* Change the background color as per your preference */
}

.nav-pills .nav-link.active, .nav-pills .show.nav-link {
    background-color: orange;
    color: black;
    border-bottom: 2px solid #8E3A2B;
    font-weight: bold;
}

.nav-link.active {
    background-color: orange;
    color: black;
    border-bottom: 2px solid #8E3A2B;
    font-weight: bold;
}

.fs-4{
    color: black;
    font-weight: bolder;
}
.nav-link{
    color: black;
}
.nav-link:hover{
    background-color:#FFDAB9;
    color: white;
}

body {
    margin: 0;
    padding: 0;
}

.btn-primary.active, .btn-primary:active{
    background-color: orange !important ;
    border-color: orange !important;
    font-weight: bold;
    color:black !important;
    font-weight: bold;;
}

.btn-primary{
    background-color: #D3D3D3;
    border-color: #D3D3D3;
}


.btn-link {
    text-decoration: none !important; 
}

