
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.sidebar {
    height: 100vh; /* Set sidebar height to 100% of viewport height */
    width: 300px; /* Set sidebar width */
}

/* CSS to change the color of the sidebar */
.custom-bg {
    background-color: #f0f0f0; /* Change the background color as per your preference */
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: orange !important; /* Change the background color of the active link to orange */
    color: #fff !important; /* Change the text color of the active link */
    border-bottom: 2px solid #8E3A2B; /* Add a bottom border when the link is active */

}

.nav-link:hover {
    background-color:#FFDAB9;
    color: beige !important;
}
