.nav-tabs .nav-link {
    border: transparent;
    color: grey !important;
    font-weight: bold; 
}

.nav-tabs .nav-link.active {
    border-bottom: 3px solid #7F3720; 
    color: black !important; 
    background-color: transparent;
}

.nav-tabs .nav-link:hover {
    color: black !important; 
}

/* menu_detail */
.d-grid {
    margin-top: 25px;
    background-color: #7F3720;
    display: flex;
    justify-content: center;
}


